@import url(http://fonts.googleapis.com/css?family=Lustria);

#name {
  font-size: 3em;
  margin-left:2cm;
  float: left;
  color: #499ed9;
  padding: 20px 0px 20px 0px;
}
p {
  color: gray;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  margin-left: 2cm;
  clear: left;
}

body {
  font-family: 'Lustria', serif;
}

a:link {color: #499ed9;text-decoration:none;}
a:visited {color: #499ed9;text-decoration:none;}
a:hover {color: #499ed9;text-decoration:none;}
a:active {color: #499ed9;text-decoration:none;}

