@import url(https://fonts.googleapis.com/css?family=Lustria);

body {
  font-family: "Lustria", serif;
}

a {
  color: #499ED9;
  text-decoration: none;
}

p {
  color: gray;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  margin-left: 2cm;
  clear: left;
}

.small {
  font-size: 1em;
}

.smaller {
  font-size: .75em;
}

a.hotline {
  color: gray;
}

footer {
  position: absolute;
  bottom: 30px;
}

#name {
  font-size: 3em;
  margin-left:2cm;
  float: left;
  color: #499ed9;
  padding: 20px 0px 20px 0px;
}

#pgp-key {
  display: none;
  clear: left;
}
